# App
PORT = 5000
NODE_ENV = development
ACCESS_JWT_SECRET = access_jwt_secret_key_here
REFRESH_JWT_SECRET = refresh_jwt_secret_key_here

# Database
DATABASE_URL="postgres://postgres.[project-ref]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"DIRECT_URL="postgres://postgres.[project-ref]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgres://postgres.[project-ref]:[password]@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"


MONGO_URL="mongodb+srv://[username]:[password]@[cluster-url].mongodb.net/smart_pos_logs?retryWrites=true&w=majority"

REDIS_URL="rediss://default:[password]@[endpoint-url]:6379"

RABBITMQ_URL="amqps://[user]:[password]@[host].cloudamqp.com/[vhost]"

// Mail
MAIL_USER=your-email@gmail.com
MAIL_PASS=your-email-password